@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  border:3px solid #253342;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #E3E3E3;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd3;
}

a { text-decoration: none; margin: 0 0px; }

a.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
}

  a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
  }
  
  a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
  }

/* blue button */

a.btn.btn-blue {
  background-color: #34495E;
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #FFF;
}
a.btn.btn-red {
  background-color: #91574B;
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #FFF;
}

  a.btn.btn-blue:hover {
    background-color: #2b3c4e;
    border-color: rgba(0,0,0,0.5);
  }
  
  a.btn.btn-blue:active {
    background-color: #22303d;
    border-color: rgba(0,0,0,0.9);
  }

  #bottom-right {
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
  }

  #top-right {
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
  }

  .holder{        
    width:100%;
    display:block;
}
.popup{
    width:800px;
    border-radius: 7px;
    background:#253342; /*border color of popup*/
    margin:30px auto 0;
    padding:6px;
    position:absolute;
    left: 50%;
  top: 50%;
  margin-left: -400px;
    margin-top: -40px; /* This should be half of the total height of your div */
    z-index: 10;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}

.content{
    background:#9E9E9E;
    padding: 28px 28px 28px 28px;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  border: 2px solid #253342;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #E3E3E3;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

::-webkit-input-placeholder {
   color: #5E5E5E;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5E5E5E;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5E5E5E;  
}

:-ms-input-placeholder {  
   color: #5E5E5E;  
}

.material-icons{
  cursor: pointer;
}

#donationbox{
    position: fixed;

    /* set position */
    bottom: 1px;
    right: 1px;

    /* must have dimension */
    width: 335px;
    height: 400px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
    margin: 10px;

    background-color: #34495E;
    border:3px solid #253342;
    border-radius: 5px
}

#donationIMGContainer{
  background-color: white;
  width: 180px;
  height: 180px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
  position: relative;
  border:2px solid #253342;
}

#donationImage{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#buttonsContainer{
	position: absolute;
	top: 40px;
	right: 35px;
}

#settingsButtonDIV{
	position: absolute;
	bottom: 1px;
}

#infoButtonDIV{
	position: absolute;
	top: 5px;
}